@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #292929;
}

@theme {
  --color-background: #B2C248;
  --color-foreground: #292929;
  --font-serif: "Inter Serif", serif;
}

@theme: {
  extend: {
    fontFamily: {
      serif: ['Libertinus Serif', 'serif'],
    }
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}